<!DOCTYPE html>
  <head>
    <meta http-equiv="Content-Type" const="text/html;charset=UTF-8" />
    <link href="https://fonts.googleapis.com/css?family=Comfortaa" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="style.css" >
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
    <script src="chat.js"></script>
    <title>Servidor Push - Chatops </title>

    <script>
        
        function checkForEnterKey(){
            if (event.keyCode === 13) {
                event.preventDefault();
                document.getElementById("send_message").click();
            }
        }

        function buttonClickEvent()
        {
            alert('The button has been clicked!');
        }

    </script>
</head>

<body>
   <section id="titulo">
      <header>
        
               <a class="nav-auth-img-container dropdown-toggle" uib-dropdown-toggle="" aria-haspopup="true" aria-expanded="false">
              <img class="nav-auth-img" ng-src="user-icon.png" src="user-icon.png">
              &nbsp;
              <span class="greeting visible-md-inline visible-lg-inline ng-binding">Hello  <div id=loggeduser><%= usuario %> </div></span>
              <span class="caret"></span>
          </a>
          <!-- ngIf: !no_auth --><ul class="dropdown-menu animated fadeInDownShort go ng-scope" ng-if="!no_auth" uib-dropdown-menu="" role="menu" aria-labelledby="simple-btn-keyboard-nav">

              <li role="menuitem">
                  <a data-ui-sref="users.show({id:user().id})" href="#!/users/1">
                      <i class="mdi mdi-account-outline"></i>
                      Profile
                  </a>
              </li>
              <!-- ngIf: user().admin --><li role="menuitem" ng-if="user().admin" class="ng-scope">
                  <a data-ui-sref="users" href="#!/users">
                      <i class="mdi mdi-account-multiple"></i>
                      Users
                  </a>
              </li><!-- end ngIf: user().admin -->
              <li role="menuitem">
                  <!-- ngIf: user().admin --><a data-ui-sref="settings" ng-if="user().admin" class="ng-scope" href="#!/settings">
                      <i class="mdi mdi-settings"></i>
                      Settings
                  </a><!-- end ngIf: user().admin -->
              </li>
              <li class="divider"></li>
              <li role="menuitem">
                  <a data-ng-click="logout()">
                      <i class="mdi mdi-logout-variant"></i>
                      Logout
                  </a>
              </li>
          </ul><!-- end ngIf: !no_auth -->

      </li>
      </header>
   </section>

   <section>
    <div id="change_username">
		<input id="username" type="text" />
		<button id="send_username" type="button">Definir nome</button>
    </div>
   </section>

   <section id="chatroom">
      <section id="feedback"></section>
   </section>

   <section id="input_zone">
      <input name='message' id="message" class="vertical-align" type="text" tabindex="0" autofocus="autofocus" onkeyup="checkForEnterKey(this.value)" />
      <button id="send_message" class="vertical-align" tabindex="0" role="button" type="submit" value="submit" >Enviar</button>
   </section>

   <audio id="chatAudio"><source src="notify.ogg" type="audio/ogg"><source src="notify.mp3" type="audio/mpeg"><source src="notify.wav" type="audio/wav"></audio> 
   </body>
