<!DOCTYPE html>
  <head>
    <title>Chat Privado</title>

    <meta http-equiv="Content-Type" const="text/html;charset=UTF-8" />
    <link href="https://fonts.googleapis.com/css?family=Comfortaa" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="style.css" >
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
    <script src="js/jquery/jquery-latest.min.js"></script>
    <script src="js/chat_mural.js"></script>

    <script>
        
        function checkForEnterKey(){
            if (event.keyCode === 13) {
                event.preventDefault();
                document.getElementById("send_message").click();
            }
        }

        function buttonClickEvent()
        {
            alert('The button has been clicked!');
        }

    </script>
    <input type="hidden" id="send_message_to_contact"> 
    <input type="hidden" id="contactList"> 
</head>

<body>

    <section id="titulo">
        <header id="tituloText"> 
          <div style="display: flex; justify-content: space-between; align:left">
            <div id="divChatContactUsersInChat">
                <a class="nav-auth-img-container">
                    <img class="nav-auth-img" ng-src="user-icon.png" src="<%=usuario%>-user-icon.png">
                    <div class="nav-auth-img-container" id='loggeduser' ><%= usuario %></div>
                </a>
            </div>
          <h3> Mural </h3>
          <div style="align:right">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          </div>
        </div>
        </header>
    </section>





   <section id="apelido">
    <div>
		  <input id="username" type="text" />
		  <button id="send_username" type="button">Apelido</button>
    </div>
   </section>

   <section id="chatroom">
      
   </section>

   <section id="input_zone">
      <input name='message' id="message" class="vertical-align" type="text" tabindex="0" autofocus="autofocus" onkeyup="checkForEnterKey(this.value)" />
      <button id="send_message" class="vertical-align" tabindex="0" role="button" type="submit" value="submit" >Enviar</button>
   </section>

   <audio id="chatAudio"><source src="notify.ogg" type="audio/ogg"><source src="notify.mp3" type="audio/mpeg"><source src="notify.wav" type="audio/wav"></audio> 
   </body>
