<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" const="text/html;charset=UTF-8" />
    <link href="http://fonts.googleapis.com/css?family=Comfortaa" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="style.css" >
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
    <title>Servidor - Push Notification </title>
  </head>

  <body>

<script async defer crossorigin="anonymous" src="https://connect.facebook.net/pt_BR/sdk.js#xfbml=1&version=v3.2&appId=1142602759151596&autoLogAppEvents=1"></script>

<!-- <script>
FB.getLoginStatus(function(response) {
    console.log(response);
    console.log("Nao esta autenticado");
});
console.log("chque login finalizado");
</script>  -->


<div id="fb-root"></div>
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '396146767609044',
      cookie     : true,
      xfbml      : true,
      version    : 'v2.5'
    });
      
    FB.AppEvents.logPageView();   
      
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "https://connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
   </script>
<div class="fb-login-button" data-size="large" data-button-type="continue_with" data-auto-logout-link="false" data-use-continue-as="false"></div>
      <section id="titulo">
          <header>
            <h3>Chat</h3>
          </header>
        </section>

    <section>
    <div id="change_username">
		<input id="username" type="text" />
		<button id="send_username" type="button">Definir nome</button>
    </div>
    </section>

    <section id="chatroom">
      <section id="feedback"></section>
    </section>

    <section id="input_zone"> 
      <input id="message" class="vertical-align" type="text" />
      <button id="send_message" class="vertical-align" type="button">Enviar</button>
    </section>

    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="chat.js"></script>
  </body>
</html>
