<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" const="text/html;charset=UTF-8" />
  <link rel="stylesheet" type="text/css" href="lib/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="my/css/style.css">
  <meta http-equiv="Access-Control-Allow-Origin" content="*" />
  <meta http-equiv="Access-Control-Allow-Origin" content="https://hp/*" />
  <meta http-equiv="Access-Control-Allow-Origin" content="https://ubuntu/*" />
  <meta http-equiv="Access-Control-Allow-Origin" content="https://ubuntu:1443/*" />
  <meta http-equiv="Access-Control-Allow-Origin" content="https://ubuntu:1443/a" />

  <script src="lib/js/socket.io/socket.io.js"></script>
  <script src="lib/js/jquery/jquery-latest.min.js"></script>
  <script src="my/js/layout.scripts.comuns.js"></script>
  <script src="lib/bootstrap/js/bootstrap.min.js"></script>



  <script src="lib/peerjs/peerjs.js"></script>
    
  <!-- import the webpage's client-side javascript file -->
  <script src="my/js/webrtc/main.js" type="module"></script>

</head>

<body>
      <header id="headerMenu">
        <nav class="navbar navbar-inverse">
          <ul class="nav navbar-nav">
            <li><a href="/mural"> Mural </a></li>
            <li><a href="/privado"> Privado </a></li>
            <li><a href="/upload"> Upload </a></li>
            <!-- <li><a href="/produtos"> Produtos </a></li>
            <li><a href="/empregos"> Empregos </a></li>
            <li><a href="/trendingtopics"> Trend Topics </a></li> -->
          </ul>
        </nav>
      </header>

      <main>
        <div id=container" class="container">
          <%- body %>
        </div>
      </main>
      
  </body>
  
  <footer style="display:none;">
    Minha estrutura de layout está no arquivo layout.ejs, que injeta o body que está no index.ejs dentro da div=container
    <audio id="playSoundOnNewMessage">
      <source src="my/audio/notify.ogg" type="audio/ogg">
    </audio>
  </footer>
</html>
