 <head>
    <title>ChatPVT - Mural</title>
    

    <!-- <link href="https://fonts.googleapis.com/css?family=Comfortaa" rel="stylesheet" type="text/css"> -->
   
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script> -->
    <script src="my/js/mural.scripts.js"></script>

    <script>
      function checkForEnterKey(){
        if (event.keyCode === 13) {
          event.preventDefault();
          enviarMensagemEOUFoto();
          //document.getElementById("send_message").click();
        }
      }
    </script>
    <input type="hidden" id="send_message_to_contact"/> 
    <input type="hidden" id="contactList"/> 
</head>
 
<body>
    <section id="titulo">
        <header id="headerMenu"> 
          <div style="display: flex; justify-content: space-between; ">
            <div id="divUserAvatarName">
                <a class="nav-auth-img-container">
                    <img class="nav-auth-img" ng-src="user-icon.png" src="usersAvatar/<%=usuario%>-user-icon.png">
                    <div id='loggeduser' ><%= usuario %></div>
                </a>
            </div>
          <h3> Mural </h3>
          <div style="text-align:right">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          </div>
          <div id="loader"></div>

        </div>
        </header>
    </section>

  <section id="apelido">
    <div>
		  <input id="username" type="text" />
		  <button id="send_username" type="button">Apelido</button>
    </div>
  </section>

  <section id="chatroom">
  </section>
</body>

  <section id="input_zone">
    <form id="formSendImagemToMural" action="fileuploadMural" method="post" enctype="multipart/form-data">
        <input id="usuario" name="usuario" type="text" style="display:none;" value="<%=usuario%>" />
        <input id="messageInAttach" name="messageInAttach" type="text" style="display:none;" value="" />
        <div style="display:flex"> 
          <input id="filetoupload" name="filetoupload" type="file"/>
        </div>
    </form>

    <button id="send_Foto" class="vertical-align" tabindex="1" role="button" onclick="enviarMensagemEOUFoto()"> Enviar </button>
    <textarea id="message" name="message" rows="1" class="auto_height" onkeypress="auto_height(this)"  tabindex="0" autofocus="autofocus" onkeyup="checkForEnterKey(this.value)"></textarea>
    <button id="send_message" class="vertical-align" role="button" type="submit" value="submit"  style="display: none;" ></button>
  </section>

 

