  <head>
    <title>ChatPVT - Privado</title>

    <!-- <link href="https://fonts.googleapis.com/css?family=Comfortaa" rel="stylesheet" type="text/css"> -->
    
    <!-- <link rel="stylesheet" type="text/css" href="style.css" > -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
    
    <script src="lib/js/jquery/jquery-latest.min.js"></script>
    <script src="my/js/chat_privado.js"></script>
    <script>
       function checkForEnterKey(){

            if (event.keyCode === 13) {
                event.preventDefault();
                document.getElementById("send_message").click();
                //console.log(document.getElementById("message"));
            }
        }
    </script>
  </head> 

  <body>
      <section id="titulo">
          <header id="headerMenu"> 
            <div style="display: flex; justify-content: space-between; text-align:left">
              <div id="divUserAvatarName">
                <img class="nav-auth-img" src='<%= usuario %>-user-icon.png'/>
              <div id="myname"><%=usuario %></div>
            </div>
            <h3> Privado </h3> 
            <div style="text-align:right">
              <img id="imgContactTo" class="nav-auth-img" src="-user-icon.png"/>
              <div id='divContato'></div>
              <div id='feedback'></div>
            </div>
          </div>
          </header>
      </section>

    <section id="contactRoom">
        <div id="contactList">
        </div>
        <section id="divMessageTo">
        </section>
    </section>
    <section id="input_zone">
      <textarea name='message' id="message" rows="1" class="auto_height vertical-align" onkeypress="auto_height(this)"  tabindex="0" autofocus="autofocus" onkeyup="checkForEnterKey(this.value)"></textarea>
      <!-- <input name="message" id="message" class="vertical-align" type="text" tabindex="0" autofocus="autofocus" onkeyup="checkForEnterKey(this.value)"> -->
      <button id="send_message" class="vertical-align" tabindex="0" role="button" type="submit" value="submit">Enviar</button>
      <hr>
      <button id="gravarAudio"> Gravar Audio</button>
      <button id="pararAudio"> Parar Audio</button>
      <div id="ok">
      </div>
   </section>

  <audio id="audioPrivado"> 
    <source id="audioPrivadoSrc" src="my/audio/audio.ogg" type="audio/ogg">
  </audio>
  </body>
