  <head>
    <meta http-equiv="Content-Type" const="text/html;charset=UTF-8" />
    <link href="https://fonts.googleapis.com/css?family=Comfortaa" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="style.css" >
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
    
    <script src="jquery/jquery-latest.min.js"></script>
    <script src="js/chat_privado.js"></script>
    <script>
       function checkForEnterKey(){

            if (event.keyCode === 13) {
                event.preventDefault();
                document.getElementById("send_message").click();
                //console.log(document.getElementById("message"));
            }
        }
    </script>
  </head>

  <body>
      <section id="titulo">
          <header id="tituloText"> 
            <div style="display: flex; justify-content: space-between; text-align:left">
              <div id="divChatContactUsersInChat">
              <img class="nav-auth-img" src='<%= usuario %>-user-icon.png'>
              <div id="myname"><%=usuario %></div>
            </div>
            
            <h3> Privado </h3> 

            <div style="text-align:right">
              <img id="imgContactTo" class="nav-auth-img" src="-user-icon.png">
              <div id='divContato'> </div>
            </div>
          </div>
          </header>
      </section>

    <section id="contactRoom">
        <div id="contactList">

        </div>
        <section id="divMessageTo">

        </section>
    </section>
    <section id="input_zone">
      <input name="message" id="message" class="vertical-align" type="text" tabindex="0" autofocus="autofocus" onkeyup="checkForEnterKey(this.value)">
      <button id="send_message" class="vertical-align" tabindex="0" role="button" type="submit" value="submit">Enviar</button>
      <hr>
      <button id="gravarAudio"> Gravar Audio</button>
      <button id="pararAudio"> Parar Audio</button>

      <!-- <video width="320" height="240" controls autoplay></video> -->
      <div id="ok">
        <a id="downloadLink">Download Audio</a>
      </div>
      <!-- <p>
        <button id=audio onclick="pararAudio()">
          gravar video
        </button>
        <button id=video>
          stop video
        </button>
        <button id=both>
          stop both
        </button>
      </p> -->

   </section>

   <audio id="chatAudio">
    <source src="notify.ogg" type="audio/ogg">
    <source src="notify.mp3" type="audio/mpeg">
    <source src="notify.wav" type="audio/wav">
  </audio> 
  <audio id="audioPrivado"> 
    <source src="./audioupload/audio.ogg" type="audio/ogg">
  </audio>
  
  </body>
</html>
