  <head>
    <title>ChatPVT - Upload</title>

    <meta http-equiv="Content-Type" const="text/html;charset=UTF-8" />
    <link href="http://fonts.googleapis.com/css?family=Comfortaa" rel="stylesheet" type="text/css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
  </head>

  <body>
      <section id="titulo">
        <header id="tituloText"> 
          <div style="display: flex; justify-content: space-between; text-align:left">
            <div id="divUserAvatarName">
              <img class="nav-auth-img" src='<%= usuario %>-user-icon.png'/>
            <div id="myname"><%=usuario %></div>
          </div>
          <h3> Upload</h3>
        </header>
      </section>
   
    <section id="chatroom">
        <section id="filebox">
          <h4> Envie arquivos para o servidor. </h4>
          <hr>
          <table><th>Del &nbsp;&nbsp; | &nbsp; Filename</th>
              <% for (item of items) {%>
                <tr>
                  <td>
                   <a href='./deletefile/<%= item %>'>[ X ]</a> &nbsp; | &nbsp; <%= item %> &nbsp;
                  </td>
                </tr>
              <% } %>
          </table>
        </section>
    </section>

    <section id="input_zone">
      <form action="fileupload" method="post" enctype="multipart/form-data">
        <input type="file" name="filetoupload">
        <input type="submit">
      </form>
    </section>

     
  </body>
</html>
