/* # serve para pegar qualquer elemento com o id
   . serve para pegar os elementos com o class
   pode usar div.id{} ou somente .id{} direto que já 
   abrange pra tudo, nao so div.
   */


@mixin vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

* {
    box-sizing: border-box;
}

html {
    display: flex;
    flex-flow: row nowrap;  
    justify-content: center;
    align-content: center;
    align-items: center;
    height:100%;
    margin: 0;
    padding: 0;

   /* width: 50%; */
}
main{
    vertical-align: middle;
    overflow-y: scroll;
    object-fit: contain;
    width:inherit;
}

body {
    border-radius: 15px;
    height: 90%;
    text-align: center;
    background-color: black;
    justify-content: center;
    box-shadow: 0px 0px 96px 0px rgba(224, 210, 210, 0.75);
            width: 80%;
            /* height: 50%; */
            margin: 5% 10% 5% 10%;
            border: 1px solid;
           
            object-fit: contain;
            box-sizing:content-box;
}

.auto_height { 
    width: 100%;
}

button#send_message {
    display: inline-block;
}
#contacts{
    justify-content: flex-end;
    display: flex;
    text-align: center;
}

#contactLine {
    font-size: large;
    text-align: right;
    padding: 10px;
}
#contactLine:hover {
    background-color: rgb(11, 11, 124) !important;
    color: white;
    transition: background-color 0.5s;
    box-shadow: 0 2px 15px rgba(0,0,0,0.6);
    border: white 1px solid;
}

#contactLine:nth-child(even){
    background-color:  rgb(101, 153, 248);
}

#contactLine:nth-child(odd){
    background-color: rgb(158, 188, 243);
}
#contactList{
    display: block;
    position:static;
}

div#myname { 
    text-align: center;
}

div#box {
    height: 10%;
    width: 10%;
    display: inline-block;
    background-color: rgb(158, 156, 179);
    align-content: center;
}

div.container {
   /* width: auto; */
   /* min-width: min-content; */
   width:inherit;
   align-content: center;
   position: absolute;
   overflow-y: scroll;
   padding-right: 15px;
   padding-left: 15px;
   max-height: 75%;
}

#divMessageTo {
    vertical-align: bottom;
    align-content: center;
    width: 100%;
}


#divUserAvatarName {
    text-align: center;
    display: block;
}
#divChatContactTitulo, #divContato{
 text-align: left;
}
#divChatContactTitulo, #divContato{
    text-align: center;
}

div#change_username{
    border: 2px outset rgb(74, 123, 179);
    text-align: right;
}
input#username {
    font-family: 'Comfortaa', sans-serif;
}

.videoBox{
    position: relative;
    width: 100%;
    height: 300px;    
    display: flex;
    justify-content: inherit;
    /* justify-items: flex-end; */
    /* flex-wrap: wrap; */
    object-fit: cover;

}
.vdMural {
    position:absolute;
    max-width: 100%;
    max-height: 100%;
    border: 4px solid black;
    float: right;
}
.right{
    justify-content: right;
    text-align: right;
    margin-right: 2%;
}
.left{
    justify-content: left;
    text-align: left;
    margin-left: 2%;
}
.divVotacao{
    display:inline-flex;
    justify-content:inherit;
    font-size:xx-large;
    margin-top: 3px;
}
.imageBox{
    position: relative;
    width: 100%;
    height: 300px;    
    display: flex;
    justify-content: inherit;
    /* justify-items: flex-end; */
    /* flex-wrap: wrap; */
    object-fit: cover;
}
.imgMural {
    position:absolute;
    max-width: 100%;
    max-height: 100%;
    border: 4px solid black;
    float: right;

}
.votar{
    height: 40px;
    width: 40px;
}

input#message {
    display: inline-block;
    width: 100%;
    /*height: 100%;*/
    font-family: 'Comfortaa', sans-serif;
/*    font-size: 1vh; */
}

input#filetoupload{
    color:transparent;
}




.logged_user {
    background: #4cf80d;
    border-radius: 70% ;
    border: 2px solid rgb(16, 139, 20);
    margin: -20px 0px 0px -10px;
    height: 18px;
    width: 18px;
}
/* 
h1 {
    font-family: 'Comfortaa', sans-serif;
    margin: 0px;
} */

header#headerMenu {
    text-align: center;    
    display: grid;
    margin: 10px 10px 0px 10px;
}


.message:nth-child(even) {
    background-color: rgb(180, 214, 224);
}

.message:nth-child(odd) {
    background-color: rgb(210, 226, 241);
}
#messageTo:nth-child(even) {
    background-color: rgb(180, 214, 224);
}

#messageTo:nth-child(odd) {
    background-color: rgb(210, 226, 241);
}

.miniAvatar{
    height: 30px;
    width: 30px;
    border-radius: 100%;
    border: 1px black solid;
}
.navbar{
    border-radius: 12px;
    background-color: #292929;
}

.navbar-inverse .navbar-nav > li > a:hover{
    color: #4cf80d;
    background-color: black;
    border-radius: 10px;
    font-weight: bold;
}

.nav-auth-img{
    width: 60px;
    height: 60px;
    border-radius: 20%;
    border: 1px solid #1abb9c;
    padding: 2px;
}

.nav-auth-img-container{
    align-content: left;
    padding: 0px;
    color: 'white'
}

p.message, p.messageTo  {
    padding-left: 4px;
    padding-right: 4px;
    width: 100%;
    /*height: 40px;*/
    font-weight: regular;
    font-family: arial, sans-serif;
    word-wrap: break-word;
    border-radius: 8px;
}

section_REVER {
    border: 2px ;
  /* remover width */
    /* width: 50%; */
    background-color: rgb(12, 30, 224);
    padding: 10px;
    display: block;
    color: white;
    font-size: 12px;
    justify-content: space-between;
    display: flow-root;
    align-content: center;
}
section#apelido {
    /* border: px ; */
    border-top: white 2px solid;
    border-right: white 2px solid;
    border-left: white 2px solid;
    background-color: rgb(16, 16, 80);
    padding: 10px;
    display: flex;
    font-size: 12px;
    color: black;
    text-align: right;
    flex-direction: row-reverse;
}
section#chatroom{
    border: 2px white solid ;
    background-color: rgb(200, 200, 230);
    padding: 10px;
    text-align: left;
    word-wrap: break-word;


}
section#contactRoom {
    background-color: rgb(192, 192, 218);
    align-content: center;
    display: flex;
    text-align: left;
    min-width: none;
}
section#input_zone {
    /*height: 20%;*/
    text-align: right;
    background-color: rgb(213, 215, 216);
    color: rgb(44, 46, 61);
    padding: 30px;
    background-color: rgb(11, 11, 109);
    align-content: center;
    display: inline-flexbox;
    border-radius: 5px;
}
section#titulo {
    border: 2px white solid;
  
    background-color: rgb(11, 11, 109);
    padding: 10px;
    display: block;
    color: white;
    font-size: 12px;
    text-align: right;
    align-content: space-between;
    justify-content: space-between;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    margin-bottom: 10px;
}

.vertical-align {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    margin-top: 15px;
}

.temMensagemNaoLida{
    color: red;
    font-weight: bold;
}
