/* # serve para pegar qualquer elemento com o id
   . serve para pegar os elementos com o class
   pode usar div.id{} ou somente .id{} direto que já 
   abrange pra tudo, nao so div.
   */


@mixin vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

* {
    box-sizing: border-box;
}

html {
    height: 50%;
   /* width: 50%;*/
}

body {
    margin: 3%;
    height: 100%;
    text-align: center;
    background-color: black;
}

#contactList{
    display: grid;
    position:relative;
}
#contactLine{
    display: inline-grid;
}

.logged_user {
    background: #78de45;
    border-radius: 50%;
    box-sizing: border-box;
    position: absolute;
    border: 1.5px solid rgb(255, 255, 255);
    height: 10px;
    margin: 15px 0px 0px -5px;
    width: 10px;
    justify-content: flex-end;
    text-align: left;
    left: 10px;

}

h1 {
    font-family: 'Comfortaa', sans-serif;
    margin: 0px;
}

#divUserAvatarName {
    text-align: center;
    display: block;
}
#divChatContactTitulo, #divContato{
 text-align: left;
}
#divChatContactTitulo, #divContato{
    text-align: center;
}

div#change_username{
    border: 2px outset rgb(74, 123, 179);
    text-align: right;
}

.nav-auth-img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 1px solid #1abb9c;
    padding: 2px;
}

.nav-auth-img-container{
    align-content: left;
    padding: 0px;
    color: 'white'
}

.temMensagemNaoLida{
    color: red;
    font-weight: bold;
}

#contacts{
    justify-content: flex-end;
    flex-direction: row;
    display: flex;
}

#contactLine:nth-child(even){
    background-color: rgb(101, 153, 248);
    font-size: large;
    padding: 10px;
    /* display: block; */
    text-align: left;
}

#contactLine:nth-child(odd){
    background-color: rgb(158, 188, 243);
    font-size: large;
    padding: 10px;
    /* display: block; */
    text-align: left;
}

div#myname { 
    text-align: center;
    /* width: 50%; */
}
div#box {
    height: 10%;
    width: 10%;
    display: inline-block;
    background-color: rgb(158, 156, 179);
    align-content: center;
}

div.container {
   overflow:hidden;
   /*max-height: 130%;*/
}

#divMessageTo {
    vertical-align: bottom;
    align-content: center;
}

header#tituloText {
    text-align: center;    
}

#messageTo:nth-child(even) {
    background-color: rgb(180, 214, 224);
    color: blueviolet;
}

#messageTo:nth-child(odd) {
    background-color: rgb(210, 226, 241);
    color: blue;
}

section#chatroom{
    border: 5px ;
    width: 50%;
    background-color: rgb(200, 200, 230);
    padding: 10px;
    display: block;
    text-align: left;

}
section#contactRoom {
    background-color: rgb(192, 192, 218);
    width: 50%;
    align-content: center;
    display: flex;
    text-align: left;
}

section#apelido {
    border: 2px ;
    width: 50%;
    background-color: rgb(16, 16, 80);
    padding: 10px;
    display: flex;
    font-size: 12px;
    color: black;
    text-align: right;
    flex-direction: row-reverse;
}
section#titulo {
    border: 2px ;
    width: 50%;
    background-color: rgb(11, 11, 109);
    padding: 10px;
    display: block;
    color: white;
    font-size: 12px;
    text-align: right;
    align-content: space-between;
    justify-content: space-between;
}


section# {
    border: 2px ;
    width: 50%;
    background-color: rgb(12, 30, 224);
    padding: 10px;
    display: block;
    color: white;
    font-size: 12px;
    justify-content: space-between;
    display: flow-root;
    align-content: center;
}

section#input_zone {
    /*height: 20%;*/
    width: 50%;
    text-align: right;
    background-color: rgb(213, 215, 216);
    color: rgb(44, 46, 61);
    padding: 20px;
    background-color: rgb(11, 11, 109);
    align-content: center;
    display: inline-flexbox;
}



input#username {
    font-family: 'Comfortaa', sans-serif;
}

.imageBox{
    width: 100%;
    height: 100%;    
    /* border: 5px dashed #f7a239; */
    display: flex;
    justify-content: space-around;
    
}

img {

    object-fit: cover;
}
input#message {
    display: inline-block;
    width: 65%;
    /*height: 100%;*/
    font-family: 'Comfortaa', sans-serif;
/*    font-size: 1vh; */
}
input#filetoupload{
    color: white;
}

button#send_message {
    display: inline-block;
    /*height: 100%;*/
    /*width: 10%;*/
}

p.message {
    margin: 0px;
    width: 100%;
    /*height: 40px;*/
    font-weight: regular;
    font-size: 14px;
    font-family: arial, sans-serif;
    padding: 1vh;
}

.message:nth-child(even) {
    background-color: rgb(180, 214, 224);
}

.message:nth-child(odd) {
    background-color: rgb(210, 226, 241);
}
.vertical-align {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    margin-top: 15px;
}